/*
Theme Name: kaosbootstrap
Theme URI: http://www.kaos.de
Version: 1.0
Author: Oliver Schwarz
Author URI: http://www.kaos.de
Description: Bootstrap Basis-Template von kaos.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: kaos, bootstrap
Text Domain: kaosbootstrap
*/

img {
    max-width: 100%;
    height: auto;
}

.meta {
    font-style: italic;
    font-size: 90%;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.alignright {
    float: right;
    margin: 0 20px 20px 0;
}
.aligncenter {
    float: none;
    display: block;
    margin: 20px 0 20px 0;
}

.wp-caption-text {
    font-style: italic;
    font-size: 90%;
}

.category_thumbnail {
    float: left;
    margin: 0 20px 0 0;
}
ul.sidebar,
ul.comments,
ul.children {
    list-style-type: none;
}


.container.content {
    padding-top: 100px;
}

@media (min-width: 1500px) {
    .container {
        width: 1260px !important;
    }
    .container-fluid.header-wrapper {
        height: 140px;
        margin: 0px;
        padding: 0px;
    }
    .container-fluid.left {
        float: left;
        background: #00599c;
        width: 50%;
        height: 140px;
        margin: 0px;
        padding: 0px;
    }
    .container-fluid.right; {
        float: right;
        background: #ffffff;
        width: 50%;
        height: 140px;
        margin: 0px;
        padding: 0px;
    }
    .container.header {
        position: relative;
        top: -140px;
    }
    .header-left {
        width: 278px !important;
        height: 140px;
        background: #00599c;
        border-right: 10px solid #ed6501;
    }
    .logo {
        width: 180px;
        height: 84px;
        margin: 25px 0 0 0;
    }
    .header-right {
        width: 982px !important;
        height: 140px;
        background: #ffffff;
    }
}
